<h1>Orders</h1>
<%= link_to "Upload Orders File", orders_upload_path, class: "button" %>

<table>
  <tr>
    <th>Buyer</th>
    <th>Description</th>
    <th>Unit Price</th>
    <th>Quantity</th>
    <th>Address</th>
    <th>Supplier</th>
    <th>Total</th>
  </tr>  
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.buyer %></td>
      <td><%= order.description %></td>
      <td><%= order.unit_price %></td>
      <td><%= order.quantity %></td>
      <td><%= order.address %></td>
      <td><%= order.supplier %></td>
      <td><%= total_price(order) %></td>
    </tr>
  <% end %>
</table>
<h3>The Total Receipt is: <%= total_receipt(@orders) %></h3>
